.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.font-gowun {
  font-family: "Gowun Dodum", sans-serif;
}

.font-ibm {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
